body {
   background-color: #67abb8;
   color: black;
}

#timeSelector {
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 10%;
}

#sessionTime {
   float: left;
   border-style: solid;
}

#breakTime {
   float: right;
   border-style: solid;
}

#pomodoroSubmit {
   text-align: center;
}

#startTimer {
   margin-top: 20%;
   height: 200px;
   width: 300px;
   font-size: 128px;
   background-color: #67abb8;
   color: #f15b40;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:80px;
   width:100%;
   background:#f15b40;
   text-align: center;
   color: white;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: #67abb8;
	font-size: 32px;
	padding: 20px;
}   